/* style.css */


body{
    background-color: #eee;
    font-size: 16px;
    margin-bottom: 60px;
}

body > .container {
  padding: 60px 15px 0;
}

nav {
    margin-bottom: 100px;
}

main {

}

section {
    min-width: 300px;
    border-radius: 3px;
    background-color: white;
    text-align: center;
    display: inline-block;
    margin: 10px;
    padding: 15px;
    text-align: center;
}

footer {
    padding-left: 15px;
}


/* directory */

.emplooyee_title{
    font-size: 1em;
}

.hired_language{
    font-size: 1em;
}

.employee_image {
    height: auto;
    width: auto;
    max-width: auto;
    max-height: 200px;
    border-radius: 1000px;
}


